@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400;500;600;700;800&family=Candal&family=Capriola&family=Julius+Sans+One&family=Jura:wght@300;400;500;600;700&family=Lalezar&family=Nanum+Pen+Script&family=Poppins:wght@100;200;300;400;500&family=Readex+Pro:wght@200;300;400;500;600;700&family=Syncopate&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: hsl(187, 77%, 45%);
    --secondary: hsl(259, 88%, 64%);
    --tertiary: hsl(174, 88%, 38%);
    --black: hsl(240, 4%, 16%);
    --distanceFront: -15px;
    --distanceBack: calc(var(--distanceFront) * -2);
    font-family: "Unbounded", cursive;
}

body {
    background-color: var(--black);
    background-image: conic-gradient(
        from 0deg at 50% 40%,
        var(--primary),
        var(--secondary),
        var(--black),
        var(--black),
        var(--black),
        var(--primary),
        var(--primary)
    );
    background-blend-mode: multiply;
}
.card {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 85%;
    color: white;
    background: var(--black);
    border-radius: 16px;
    padding: 16px;
    transform-style: preserve-3d;
    transform: perspective(5000px) rotateY(var(--rotateX))
        rotateX(var(--rotateY));
}

.card::before,
.card::after {
    content: "";
    position: absolute;
    border-radius: inherit;
}

.card::before {
    inset: 0.5rem;
    border-radius: inherit;
    background: black;
    z-index: -1;
    transform: translateZ(var(--distanceFront));
    filter: blur(15px);
    opacity: 0.2;
}

.card .middle {
    position: absolute;
    border-radius: inherit;
    z-index: -2;
    inset: -0.5rem;
    background: linear-gradient(
        -45deg,
        var(--primary),
        var(--secondary),
        var(--tertiary)
    );
    transform: translateZ(var(--distanceFront));
}

.card .front,
.card .back {
    backface-visibility: hidden;
}

.card .back {
    position: absolute;
    inset: 0rem;
    transform: rotateY(180deg) translateZ(var(--distanceBack));
    border-radius: inherit;
    padding: inherit;
    background: var(--black);
    z-index: -1;
    transform-style: preserve-3d;
}
