@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400;500;600;700;800&family=Candal&family=Capriola&family=Julius+Sans+One&family=Jura:wght@300;400;500;600;700&family=Lalezar&family=Nanum+Pen+Script&family=Poppins:wght@100;200;300;400;500&family=Readex+Pro:wght@200;300;400;500;600;700&family=Syncopate&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: hsl(187, 77%, 45%);
    --secondary: hsl(259, 88%, 64%);
    --tertiary: hsl(174, 88%, 38%);
    --black: hsl(240, 4%, 16%);
    --distance: -5px;
}

/* adjust body colours */
body {
    background-color: var(--black);
    background-image: conic-gradient(
        from 0deg at 50% 40%,
        var(--primary),
        var(--secondary),
        var(--black),
        var(--black),
        var(--black),
        var(--primary),
        var(--primary)
    );
    background-blend-mode: multiply;
}

/* 3D-card wrapper */
pre {
    display: flex;
    flex-direction: column;
    width: 85%;
    color: white;
    /* fix */
    background: var(--black);
    padding: 16px;
    border-radius: 1rem;
    position: relative;
    transform-style: preserve-3d;
    transform: perspective(5000px) rotateY(var(--rotateX))
        rotateX(var(--rotateY));
}

pre > * {
    text-shadow: 0 0 0.3em currentColor;
}

pre::before,
pre::after {
    content: "";
    position: absolute;
    border-radius: inherit;
}

/* shadow */
pre::before {
    inset: 0.75rem;
    border-radius: inherit;
    background: black;
    z-index: -1;
    transform: translateZ(var(--distance));
    filter: blur(15px);
    opacity: 0.5;
}

/* backdrop panel */
pre::after {
    z-index: -2;
    inset: -0.5rem;
    /* fix */
    background: linear-gradient(
        -45deg,
        var(--primary),
        var(--secondary),
        var(--tertiary)
    );
    transform: translateZ(var(--distance));
}
